
@import 'variables';

input,
textarea {
    user-select: text;
}

label {
    width: 100%;
    font-size: .875rem;
    margin-bottom: .5rem;
    min-width: 100%;
    font-weight: bold;
    margin-bottom: .5rem;

    span {
        color: $pending;
    }

    &.error {
        color: $error;
    }
}
