<div class="w-full h-full flex flex-1 flex-col z-0 bg-gray-50">
    <h3 class="flex items-center text-xl font-bold p-4 pl-6">
        Your Bookings
    </h3>
    <div
        class="p-2 flex-1 h-1/2 overflow-auto space-y-4"
        *ngIf="!(loading$ | async); else load_state"
    >
        <ng-container *ngIf="(events$ | async)?.length; else empty_state">
            <ng-container
                *ngFor="
                    let item of (loading | async) ? [] : (events$ | async);
                    trackBy: trackByFn
                "
            >
                <event-card
                    *ngIf="isEvent(item); else booking_card"
                    [event]="item"
                ></event-card>
                <ng-template #booking_card>
                    <booking-card [booking]="item"></booking-card>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-template #load_state>
    <div
        class="h-full w-full flex flex-col items-center justify-center space-y-4 my-6"
    >
        <mat-spinner [diameter]="32"></mat-spinner>
        <p>Retrieving bookings...</p>
    </div>
</ng-template>
<ng-template #empty_state>
    <div
        class="h-full w-full flex flex-col items-center justify-center space-y-2 p-8 text-center my-6"
    >
        <p>No bookings found</p>
    </div>
</ng-template>
