<div class="z-0 m-0 flex h-full flex-1 flex-col overflow-y-auto bg-base-200">
    <form *ngIf="form" [formGroup]="form">
        <section
            class="flex flex-col items-center border-b border-base-200 py-5"
        >
            <div
                class="flex w-[calc(100%-2rem)] max-w-[22.5rem] flex-col self-center"
            >
                <span class="mb-2 flex text-xl font-bold"> Book Room</span>

                <div class="flex flex-row">
                    <div
                        class="h-7 w-7 rounded-full border border-base-200 text-center"
                    >
                        <span>1</span>
                    </div>
                    <div class="mb-4 ml-2 text-base">Details</div>
                </div>

                <div class="flex flex-col">
                    <label class="mb-1 text-sm font-bold">Add Title*</label>
                    <mat-form-field appearance="outline">
                        <input
                            matInput
                            placeholder="e.g Team meeting"
                            formControlName="title"
                            class="max-w-[22.5rem] text-sm"
                        />
                    </mat-form-field>
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 text-sm font-bold">Date*</label>
                    <a-date-field
                        [from]="min_date"
                        formControlName="date"
                        class="max-w-[22.5rem] text-sm"
                    ></a-date-field>
                </div>
                <div class="-mb-5 flex flex-row space-x-2">
                    <div class="flex w-1/2 flex-col">
                        <label class="mb-1 text-sm font-bold">
                            Start Time*
                        </label>
                        <a-time-field
                            [ngModel]="form.value.date"
                            (ngModelChange)="form.patchValue({ date: $event })"
                            [ngModelOptions]="{ standalone: true }"
                            class="max-w-[175px] text-sm"
                        ></a-time-field>
                    </div>
                    <div class="ml-auto flex w-1/2 flex-col">
                        <label class="mb-1 text-sm font-bold">
                            End Time*
                        </label>
                        <a-duration-field
                            [time]="form.get('date')?.value"
                            [max]="10 * 60"
                            [min]="60"
                            [step]="60"
                            formControlName="duration"
                            class="max-w-[175px] text-sm"
                        ></a-duration-field>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="flex flex-col items-center border-b border-base-200 py-3"
        >
            <div
                class="flex w-[calc(100%-2rem)] max-w-[22.5rem] flex-col self-center"
            >
                <div class="flex flex-row">
                    <div
                        class="h-7 w-7 rounded-full border border-base-200 text-center"
                    >
                        <span>2</span>
                    </div>
                    <div class="mb-4 ml-2 text-base">Attendees</div>
                </div>

                <div class="flex flex-col">
                    <label class="mb-1 text-sm font-bold">
                        Add Attendees
                    </label>

                    <a-user-list-field
                        formControlName="attendees"
                        class="max-w-[22.5rem] text-sm"
                        [custom_template]="true"
                        (download)="downloadTemplate()"
                    ></a-user-list-field>
                </div>
            </div>
        </section>

        <section class="flex flex-col items-center justify-center py-3">
            <button
                btn
                matRipple
                type="submit"
                (click)="findSpace()"
                class="max-w-[calc(100% - 2rem)] mx-auto min-w-[300px] border-secondary bg-secondary text-sm"
            >
                <span class="text-sm">Find room</span>
            </button>
            <button
                btn
                matRipple
                (click)="clearForm()"
                class="bg-transparent max-w-[calc(100% - 2rem)] mx-auto my-2 min-w-[300px] border-secondary text-sm text-secondary"
            >
                <span class="text-sm">Clear form</span>
            </button>
        </section>
    </form>
</div>
