<div class="space-confirm" *ngIf="showSummary">
    <div class="success-icon">
        <app-icon
            [icon]="{ type: 'icon', class: 'material-icons', content: 'check_circle' }"
        ></app-icon>
    </div>
    <div class="title">
        Booking Successful!
    </div>
    <div class="field">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'perm_identity' }"
            ></app-icon>
        </div>
        <div class="value">{{ organiser }}</div>
    </div>
    <div class="field">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'schedule' }"
            ></app-icon>
        </div>
        <div class="value">{{ when }}</div>
    </div>
    <div class="field">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'title' }"
            ></app-icon>
        </div>
        <div class="value">{{ title || 'No title' }}</div>
    </div>

    <div class="field" *ngIf="spaces?.length">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'place' }"
            ></app-icon>
        </div>
        <div class="value">{{ spaces[0].name }}</div>
    </div>

    <div class="field" name="attendees">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'people_outline' }"
            ></app-icon>
        </div>
        <div class="value">
            {{ attendees.length || '0' }} Attendee{{ attendees.length !== 1 ? 's' : '' }}
        </div>
    </div>

    <div class="field" *ngIf="notes">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'subject' }"
            ></app-icon>
        </div>
        <div class="value">
            <span [innerHTML]="notes"></span>
        </div>
    </div>
    <div class="field" *ngIf="event && catering_items_total > 0" name="catering">
        <div class="icon">
            <app-icon
                [icon]="{ type: 'icon', class: 'material-icons', content: 'room_service' }"
            ></app-icon>
        </div>
        <div class="value">
            <ng-container *ngIf="catering_items.length === 1; else multipleCatering">
                {{ catering_items[0].item }} X {{ catering_items[0].quantity }}
            </ng-container>
            <ng-template #multipleCatering> {{ catering_items_total }} catering items </ng-template>
        </div>
    </div>
    <div class="buttons">
        <button mat-button class="inverse" (click)="newBooking()">New Booking</button>
        <button mat-flat-button color="primary" (click)="myDay()">My Day</button>
    </div>
</div>
