<div class="space-filters" *ngIf="date">
    <div class="actions">
        <a-date-field
            name="date"
            [ngModel]="date.value"
            (ngModelChange)="date.setValue($event)"
        ></a-date-field>
        <a-time-field
            name="start-time"
            [ngModel]="date.value"
            (ngModelChange)="date.setValue($event)"
        ></a-time-field>
        <an-action-field placeholder="Add Filter" [matMenuTriggerFor]="menu"></an-action-field>
        <mat-menu #menu>
            <button mat-menu-item [matMenuTriggerFor]="location_menu">
                <app-icon [icon]="{ class: 'material-icons', content: 'room' }"></app-icon>
                <div class="text">Location</div>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="config_menu">
                <app-icon [icon]="{ class: 'material-icons', content: 'airline_seat_recline_normal' }"></app-icon>
                <div class="text">Room Config</div>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="capacity_menu">
                <app-icon [icon]="{ class: 'material-icons', content: 'account_circle' }"></app-icon>
                <div class="text">Room Capacity</div>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="features_menu">
                <app-icon [icon]="{ class: 'material-icons', content: 'devices_other' }"></app-icon>
                <div class="text">Room Features</div>
            </button>
        </mat-menu>
    </div>
    <div class="filters" *ngIf="hasFilters">
        <mat-chip-list aria-label="Location Filters">
            <mat-chip
                *ngFor="let building of location_list"
                [id]="building.id"
                color="primary"
                [removable]="true"
                (removed)="removeBookingFilter('locations', building)"
            >
                {{ building.name }}
                <app-icon
                    matChipRemove
                    [icon]="{ type: 'icon', class: 'material-icons', content: 'close' }"
                ></app-icon>
            </mat-chip>
            <mat-chip
                *ngFor="let obj of configurations_list"
                [id]="obj.id"
                color="primary"
                [removable]="true"
                (removed)="removeBookingFilter('configurations', obj)"
            >
                {{ obj.name }}
                <app-icon
                    matChipRemove
                    [icon]="{ type: 'icon', class: 'material-icons', content: 'close' }"
                ></app-icon>
            </mat-chip>
            <mat-chip
                *ngIf="!!selected_capacity"
                [id]="selected_capacity.value"
                color="primary"
                [removable]="true"
                (removed)="removeBookingFilter('capacity', selected_capacity)"
            >
                {{ selected_capacity.display }}
                <app-icon
                    matChipRemove
                    [icon]="{ type: 'icon', class: 'material-icons', content: 'close' }"
                ></app-icon>
            </mat-chip>
            <mat-chip
                *ngFor="let obj of features_list"
                [id]="obj.id"
                color="primary"
                [removable]="true"
                (removed)="removeBookingFilter('features', obj)"
            >
                {{ obj.name }}
                <app-icon
                    matChipRemove
                    [icon]="{ type: 'icon', class: 'material-icons', content: 'close' }"
                ></app-icon>
            </mat-chip>

        </mat-chip-list>
    </div>
</div>
<mat-menu #location_menu>
    <button mat-menu-item *ngFor="let item of building_list" (click)="setBookingFilter('locations', item)">
        {{ item.name }}
    </button>
</mat-menu>
<mat-menu #config_menu>
    <button mat-menu-item *ngFor="let item of building_room_configs" (click)="setBookingFilter('configurations', item)">
        {{ item.name }}
    </button>
</mat-menu>
<mat-menu #capacity_menu>
    <button mat-menu-item *ngFor="let item of capacity_filters" (click)="setBookingFilter('capacity', item)">
        {{ item.display }}
    </button>
</mat-menu>
<mat-menu #features_menu>
    <button mat-menu-item *ngFor="let item of building_room_features" (click)="setBookingFilter('features', item)">
        {{ item.name }}
    </button>
</mat-menu>
