<div
    class="w-full min-h-[800px] mx-auto w-[calc(100%-2rem)] flex flex-1 flex-col z-0 overflow-y-auto"
>
    <section class="flex flex-col border-b border-base-200 py-2">
        <div class="flex flex-row items-center justify-content space-x-4">
            <button icon matRipple (click)="closeModal()">
                <app-icon
                    class="flex items-center justify-center text-3xl text-gray-700"
                    >close</app-icon
                >
            </button>
            <span class="text-lg font-bold mr-auto"> Confirm Room Booking</span>
        </div>
    </section>

    <section class="flex flex-row border-b border-base-200 mt-4 pb-4 space-x-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>
        <div class="flex flex-col">
            <span class="flex text-base font-bold text-gray-700"
                >{{ title }}
            </span>

            <div class="flex mt-2 text-sm items-center text-gray-700">
                <mat-icon class="flex items-center material-icons-outlined"
                    >calendar_today</mat-icon
                >
                <span class="flex">
                    {{ unix_time | date: 'dd MMMM yyyy' }}
                </span>
            </div>
            <div class="flex mt-2 text-sm items-center text-gray-700">
                <mat-icon class="flex items-center material-icons-outlined"
                    >schedule</mat-icon
                >
                <span class="flex">{{ start_time }} -{{ end_time }}</span>
            </div>
        </div>
    </section>

    <section class="flex flex-row border-b border-base-200 mt-4 pb-4 space-x-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>

        <div class="flex flex-col">
            <span class="flex text-base font-bold text-gray-700"
                >Attendees
            </span>

            <div
                class="flex flex-row mt-2 text-sm items-center text-gray-700"
                *ngFor="let attendee of attendees"
            >
                <div class="flex flex-col">
                    <mat-icon class="flex items-center material-icons-outlined"
                        >people</mat-icon
                    >
                </div>
                <div class="flex flex-col">
                    <span class="w-full">{{ attendee?.email }}</span>
                </div>
            </div>

            <div class="flex flex-row mt-2 text-sm items-center text-gray-700">
                <div class="flex flex-col">
                    <mat-icon class="flex items-center material-icons-outlined"
                        >people</mat-icon
                    >
                </div>
                <div class="flex flex-col">
                    <span>{{ form?.controls?.creator?.value }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-row mt-4 pb-4 space-x-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>
        <div class="flex flex-col">
            <span class="flex text-base font-bold text-gray-700">Rooms </span>

            <div class="flex mt-2 text-sm items-center text-gray-700">
                <mat-icon class="flex items-center material-icons-outlined"
                    >meeting_room</mat-icon
                >
                <span class="flex">
                    {{ space?.name }}
                </span>
            </div>
            <div class="flex mt-2 text-sm items-center text-gray-700">
                <mat-icon class="flex items-center material-icons-outlined"
                    >room</mat-icon
                >
                <span class="flex"> {{ space?.level?.name }}</span>
            </div>
        </div>
    </section>

    <div
        class="flex flex-col border-t border-base-200 top-box-shadow p-3 mt-5 mb-10 -mx-4 items-center"
    >
        <button
            matRipple
            (click)="confirmBooking()"
            [disabled]="!show_submit_button"
            class="bg-secondary border-secondary w-[300px] ml-2 mx-4"
        >
            <span class="">Confirm</span>
        </button>
    </div>
</div>
