<div
    class="z-0 mx-auto flex min-h-[800px] w-[calc(100%-2rem)] w-full flex-1 flex-col overflow-y-auto"
>
    <section class="flex flex-col border-b border-base-200 py-2">
        <div class="justify-content flex flex-row items-center space-x-4">
            <button icon matRipple (click)="closeModal()">
                <app-icon
                    class="text-gray-700 flex items-center justify-center text-3xl"
                    >close</app-icon
                >
            </button>
            <span class="mr-auto text-lg font-bold"> Confirm Room Booking</span>
        </div>
    </section>

    <section class="mt-4 flex flex-row space-x-4 border-b border-base-200 pb-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>
        <div class="flex flex-col">
            <span class="text-gray-700 flex text-base font-bold"
                >{{ title }}
            </span>

            <div class="text-gray-700 mt-2 flex items-center text-sm">
                <mat-icon class="material-icons-outlined flex items-center"
                    >calendar_today</mat-icon
                >
                <span class="flex">
                    {{ unix_time | date: 'dd MMMM yyyy' }}
                </span>
            </div>
            <div class="text-gray-700 mt-2 flex items-center text-sm">
                <mat-icon class="material-icons-outlined flex items-center"
                    >schedule</mat-icon
                >
                <span class="flex">{{ start_time }} -{{ end_time }}</span>
            </div>
        </div>
    </section>

    <section class="mt-4 flex flex-row space-x-4 border-b border-base-200 pb-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>

        <div class="flex flex-col">
            <span class="text-gray-700 flex text-base font-bold"
                >Attendees
            </span>

            <div
                class="text-gray-700 mt-2 flex flex-row items-center text-sm"
                *ngFor="let attendee of attendees"
            >
                <div class="flex flex-col">
                    <mat-icon class="material-icons-outlined flex items-center"
                        >people</mat-icon
                    >
                </div>
                <div class="flex flex-col">
                    <span class="w-full">{{ attendee?.email }}</span>
                </div>
            </div>

            <div class="text-gray-700 mt-2 flex flex-row items-center text-sm">
                <div class="flex flex-col">
                    <mat-icon class="material-icons-outlined flex items-center"
                        >people</mat-icon
                    >
                </div>
                <div class="flex flex-col">
                    <span>{{ form?.controls?.creator?.value }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-4 flex flex-row space-x-4 pb-4">
        <div class="flex flex-col">
            <span class="text-base"><img src="assets/tick.svg" /> </span>
        </div>
        <div class="flex flex-col">
            <span class="text-gray-700 flex text-base font-bold">Rooms </span>

            <div class="text-gray-700 mt-2 flex items-center text-sm">
                <mat-icon class="material-icons-outlined flex items-center"
                    >meeting_room</mat-icon
                >
                <span class="flex">
                    {{ space?.name }}
                </span>
            </div>
            <div class="text-gray-700 mt-2 flex items-center text-sm">
                <mat-icon class="material-icons-outlined flex items-center"
                    >room</mat-icon
                >
                <span class="flex"> {{ space?.level?.name }}</span>
            </div>
        </div>
    </section>

    <div
        class="top-box-shadow -mx-4 mb-10 mt-5 flex flex-col items-center border-t border-base-200 p-3"
    >
        <button
            matRipple
            (click)="confirmBooking()"
            [disabled]="!show_submit_button"
            class="mx-4 ml-2 w-[300px] border-secondary bg-secondary"
        >
            <span class="">Confirm</span>
        </button>
    </div>
</div>
