<div
    class="flex flex-col w-full h-full bg-base-200 border-l border-base-400 relative"
>
    <div
        *ngIf="(loading$ | async).length"
        class="flex absolute inset-0 opacity-60 bg-base-100 z-10"
    >
        <div class="flex flex-col m-auto items-center">
            <mat-spinner [diameter]="32"></mat-spinner>
            <span>{{ loading$ | async }}</span>
        </div>
    </div>
    <header class="flex items-center pt-2 px-4 w-full">
        <span>{{ 'APP.CONCIERGE.SURVEY_QUESTION_HEADER' | translate }}</span>
        <div class="ml-auto">
            <button icon matRipple (click)="onAddQuestion()">
                <app-icon>add_circle_outline</app-icon>
            </button>
        </div>
    </header>
    <div class="flex w-full pb-3 px-4 border-b border-base-400 space-x-2">
        <search-input
            class="flex-1 w-px"
            [placeholder]="'APP.CONCIERGE.SURVEY_QUESTION_SEARCH' | translate"
            (onSearch)="setFilter({ search: $event })"
        ></search-input>
        <mat-form-field
            class="flex-1 max-w-32 no-subscript"
            appearance="outline"
        >
            <mat-select
                [value]="(filters$ | async)?.type || ''"
                (selectionChange)="setFilter({ type: $event.value })"
            >
                <mat-option value="">
                    {{ 'APP.CONCIERGE.SURVEY_QUESTION_TYPES_ALL' | translate }}
                </mat-option>
                <mat-option
                    *ngFor="let item of typeOptions"
                    [value]="item.value"
                >
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div
        cdkDropList
        [cdkDropListData]="questions$ | async"
        (cdkDropListDropped)="onDrop($event)"
        class="flex flex-col min-h-0 h-full w-full space-y-3 p-4 overflow-y-auto"
    >
        <div
            cdkDrag
            *ngFor="let q of questions$ | async"
            class="bg-base-100 border border-base-400 flex w-full items-center pr-2 space-x-3"
        >
            <div
                cdkDragHandle
                class="flex flex-col justify-center h-full hover:cursor-move p-1 bg-base-200"
            >
                <app-icon>drag_indicator</app-icon>
            </div>
            <div class="flex flex-col w-full py-3 space-y-1">
                <span>{{ q.title }}</span>
                <span class="text-sm opacity-40">{{ typeMap[q.type] }}</span>
            </div>
            <button icon matRipple [matMenuTriggerFor]="actionsMenu">
                <app-icon>more_vert</app-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="onAddQuestion(q)">
                    <div class="flex items-center space-x-2">
                        <app-icon class="text-xl">content_copy</app-icon>
                        <div>{{ 'COMMON.DUPLICATE' | translate }}</div>
                    </div>
                </button>
                <button mat-menu-item (click)="onEditQuestion(q)">
                    <div class="flex items-center space-x-2">
                        <app-icon class="text-xl">edit</app-icon>
                        <div>{{ 'COMMON.EDIT' | translate }}</div>
                    </div>
                </button>
                <button mat-menu-item (click)="onDeleteQuestion(q)">
                    <div class="flex items-center space-x-2">
                        <app-icon class="text-xl text-error">delete</app-icon>
                        <div>{{ 'COMMON.DELETE' | translate }}</div>
                    </div>
                </button>
            </mat-menu>
        </div>
        <div
            *ngIf="(questions$ | async)?.length > 0; else empty_template"
        ></div>
    </div>
</div>
<ng-template #empty_template>
    <div class="flex flex-col items-center h-20 m-auto opacity-30 space-y-2">
        <span>{{ 'APP.CONCIERGE.SURVEY_QUESTION_EMPTY' | translate }}</span>
        <span>{{
            'APP.CONCIERGE.SURVEY_QUESTION_EMPTY_ACTION' | translate
        }}</span>
    </div>
</ng-template>
