<div class="flex flex-col w-full h-full bg-base-200 border-l relative">
    <div
        *ngIf="(loading$ | async).length"
        class="flex absolute inset-0 opacity-60 bg-base-100 z-10"
    >
        <div class="flex flex-col m-auto items-center">
            <mat-spinner [diameter]="32"></mat-spinner>
            <span>{{ loading$ | async }}</span>
        </div>
    </div>
    <header class="flex items-center pt-2 px-4 w-full">
        <span>Question Bank</span>
        <div class="ml-auto">
            <button icon matRipple (click)="onAddQuestion()">
                <app-icon>add_circle_outline</app-icon>
            </button>
        </div>
    </header>
    <div class="flex w-full pb-3 px-4 border-b space-x-2">
        <search-input
            class="flex-1"
            (onSearch)="setFilter({ search: $event })"
        ></search-input>
        <mat-form-field
            class="w-44"
            appearance="outline"
            subscriptSizing="dynamic"
        >
            <mat-select
                [value]="(filters$ | async)?.type || ''"
                (selectionChange)="setFilter({ type: $event.value })"
            >
                <mat-option value="">All types</mat-option>
                <mat-option
                    *ngFor="let item of typeOptions"
                    [value]="item.value"
                >
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div
        cdkDropList
        [cdkDropListData]="questions$ | async"
        (cdkDropListDropped)="onDrop($event)"
        class="flex flex-col min-h-0 h-full w-full space-y-3 p-4 overflow-y-auto"
    >
        <div
            cdkDrag
            *ngFor="let q of questions$ | async"
            class="bg-base-100 border flex w-full items-center pr-2 space-x-3"
        >
            <div
                cdkDragHandle
                class="flex flex-col justify-center h-full hover:cursor-move p-1 bg-base-200"
            >
                <app-icon>drag_indicator</app-icon>
            </div>
            <div class="flex flex-col w-full py-3">
                <span>{{ q.title }}</span>
                <span class="text-sm text-gray-600">{{ typeMap[q.type] }}</span>
            </div>
            <button icon matRipple [matMenuTriggerFor]="actionsMenu">
                <app-icon>more_vert</app-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="onAddQuestion(q)">
                    <app-icon>content_copy</app-icon>
                    <span>Duplicate</span>
                </button>
                <button mat-menu-item (click)="onEditQuestion(q)">
                    <app-icon>edit</app-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="onDeleteQuestion(q)">
                    <app-icon>delete</app-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
        <div *ngIf="(questions$ | async)?.length > 0; else noQuestions"></div>
    </div>
</div>
<ng-template #noQuestions>
    <div class="flex flex-col items-center h-20 m-auto text-gray-600">
        <span>No questions found</span>
        <span>Click <i>Add</i> to add some questions.</span>
    </div>
</ng-template>
