<div class="overflow-y-auto h-screen">
    <div id="map" class="w-full h-4/5"></div>

    <div style="display: flex">
        <div class="flex-auto basis-1/2 p-4">
            <div id="search" class="flex flex-row">
                <mat-form-field class="custom-form-field ml-4">
                    <input
                        matInput
                        #searchInput
                        type="text"
                        placeholder="Search"
                    />
                </mat-form-field>

                <mat-form-field class="custom-form-field ml-8">
                    <mat-select [(ngModel)]="selectedTransportMode">
                        <mat-option
                            *ngFor="let transportMode of transportModes"
                            [value]="transportMode.value"
                            >{{ transportMode.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>

                <button
                    mat-mini-fab
                    color="primary"
                    aria-label="search button"
                    (click)="onSearch()"
                    class="flex ml-8 mt-2 justify-center items-center"
                >
                    <mat-icon style="font-size: 24px">search</mat-icon>
                </button>
            </div>

            <div class="flex flex-row ml-4 mb-12 items-center">
                <div class="text-gray-700">Live Data:</div>

                <mat-button-toggle-group
                    [(ngModel)]="liveDataStatus"
                    (ngModelChange)="changeLiveDataStatus($event)"
                    aria-label="Enable or disable live data"
                    class="text-gray-700 ml-4"
                >
                    <mat-button-toggle value="enabled"
                        >Enabled</mat-button-toggle
                    >
                    <mat-button-toggle value="disabled"
                        >Disabled</mat-button-toggle
                    >
                </mat-button-toggle-group>
            </div>
        </div>

        <div class="flex-auto basis-1/2 overflow-y-auto">
            <div class="ml-10 max-h-300">
                <ul>
                    <div *ngIf="searchResultItems">
                        <li
                            *ngFor="let item of searchResultItems"
                            class="flex items-center"
                        >
                            {{ item.properties.name }}

                            <button
                                mat-icon-button
                                color="primary"
                                aria-label="get directions button"
                                (click)="getRoute(item)"
                                class="ml-2 mt-2"
                            >
                                <mat-icon>directions_alt</mat-icon>
                            </button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
