<div style="overflow-y: auto">
    <div id="map" class="w-full h-700"></div>

    <div class="flex">
        <div class="flex-1 flex-basis-1/3 p-20">
            <div id="search">
                <mat-form-field class="custom-form-field">
                    <input
                        matInput
                        #searchInput
                        type="text"
                        placeholder="Search"
                    />
                </mat-form-field>
            </div>

            <div class="liveData ml-14">
                <div>Live Data:</div>

                <mat-button-toggle-group
                    [(ngModel)]="liveDataStatus"
                    (ngModelChange)="changeLiveDataStatus($event)"
                    aria-label="Enable or disable live data"
                >
                    <mat-button-toggle value="enabled"
                        >Enabled</mat-button-toggle
                    >
                    <mat-button-toggle value="disabled"
                        >Disabled</mat-button-toggle
                    >
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
</div>
