@import 'mixins';
@import 'variables';

.footer-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5em;
    background-color: $footer-back;
    box-shadow: 0 1px 3px 0 rgba(#000, .2),
                0 1px 1px 0 rgba(#000, .14),
                0 2px 1px -1px rgba(#000, .12);
}

a {
    flex: 1;
    height: 100%;
    min-width: 2em;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #767676;
    transition: background-color 200ms, border-color 200ms;
    border-bottom: 4px solid rgba(#000, 0);

    &:hover {
        background-color: rgba(#fff, .1);
    }
}

.active {
    background-color: rgba(#fff, .1);
    border-bottom-color: $color-primary;
}

.tile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    font-size: .8em;
    @include respond-to(mobile) {
        display: none;
    }
}

app-icon {
    font-size: 1.5em;
}
