<div class="filters">
    <mat-form-field appearance="outline">
        <mat-select
            [(ngModel)]="building"
            placeholder="Building"
            (ngModelChange)="onBuildingChange()"
        >
            <mat-option *ngFor="let bld of buildings" [value]="bld">
                {{ bld.display_name || bld.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-select placeholder="Level" [(ngModel)]="level" (ngModelChange)="onLevelChange()">
            <mat-option *ngFor="let lvl of levels" [value]="lvl">
                {{ lvl.display_name || lvl.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
