
.bg-darken {
    background-color: rgba(#000, .1);
}


.text-light {
    color: rgba(#fff, .85);
}

.text-light-fade {
    color: rgba(#fff, .6);
}

.text-light-disabled {
    color: rgba(#fff, .35);
}

.text-dark {
    color: rgba(#000, .85);
}

.text-dark-fade {
    color: rgba(#000, .6);
}

.h-half {
    height: 50%;
}

.min-w-24 {
    min-width: 6em;
}

.min-w-32 {
    min-width: 8em !important;
}

.min-w-48 {
    min-width: 12em;
}

.min-w-64 {
    min-width: 16em;
}

.width-tablet {
    width: 48rem;
    max-width: calc(100vw - 2em);
}

.top {
    top: 0 !important;
    bottom: auto !important;
}

.bottom {
    top: auto !important;
    bottom: 0 !important;
}

.left {
    left: 0 !important;
    right: auto !important;
}

.right {
    left: auto !important;
    right: 0 !important;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
