.body {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    div {
        display: grid;
        grid-template-columns: 3em 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'icon name' 'icon email';
        margin-bottom: 0.5em;
        align-items: center;

        app-icon {
            margin: auto;
            grid-area: icon;
            font-size: 2em;
        }
        label {
            grid-area: name;
        }
        a {
            grid-area: email;
        }
    }
}
