<div class="w-full bg-white">
    <div class="flex flex-col ml-6">
        <span class="mt-5 text-2xl font-bold"> Confirm Room Booking</span>

        <section class="flex flex-row border-b border-gray-300 mt-6">
            <div class="flex flex-col">
                <span class="mt-1 text-lg"
                    ><img src="../../../assets/tick.svg" />
                </span>
            </div>
            <div class="flex flex-col ml-6">
                <span class="flex text-xl font-bold text-gray-700"
                    >{{ data.controls.title.value }}
                </span>

                <div class="flex mt-4 text-base items-center text-gray-700">
                    <mat-icon class="material-icons-outlined flex text-lg mb-2"
                        >calendar_today</mat-icon
                    >
                    <span class="flex">
                        {{ unixTime | date: 'dd MMMM yyyy' }}
                    </span>
                </div>
                <div
                    class="flex mt-2 mb-5 text-base items-center text-gray-700"
                >
                    <mat-icon class="material-icons-outlined flex text-lg mb-2"
                        >schedule</mat-icon
                    >
                    <span class="flex"
                        >{{ this.startTime }} -{{ this.endTime }}</span
                    >
                </div>
            </div>
        </section>

        <section class="flex flex-row border-b border-gray-300 mt-3">
            <div class="flex flex-col">
                <span class="mt-6 text-lg"
                    ><img src="../../../assets/tick.svg" />
                </span>
            </div>

            <div class="flex flex-col ml-6">
                <span class="flex mt-5 text-xl font-bold text-gray-700"
                    >Attendees
                </span>

                <mat-chip-list
                    #chipList
                    class="my-1 mr-3"
                    aria-label="attendees list"
                >
                    <mat-chip
                        *ngFor="let attendee of attendees"
                        [selectable]="true"
                    >
                        {{ attendee.name }}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </section>

        <section class="flex flex-row mt-3">
            <div class="flex flex-col">
                <span class="mt-6 text-lg"
                    ><img src="../../../assets/tick.svg" />
                </span>
            </div>
            <div class="flex flex-col ml-6">
                <span class="flex mt-5 text-xl font-bold text-gray-700"
                    >Room
                </span>

                <span class="flex mt-4 text-base">Room name</span>
                <span class="flex mt-2 mb-5 text-base">Address</span>
            </div>
        </section>
    </div>
    <div
        class="flex flex-col border-t border-gray-300 top-box-shadow p-3 mt-5 mb-10 -mx-4 items-center"
    >
        <button
            mat-button
            class="bg-secondary border-secondary w-[460px] ml-2 mx-4"
        >
            <span class="">Go to confirm</span>
        </button>
    </div>
</div>
