<div class="w-full bg-white">
    <div class="flex flex-col ml-2">
        <span class="mt-5 text-2xl font-bold"> Confirm Room Booking</span>
        <div class="border-b border-gray-300">
            <span class="flex mt-5 text-xl font-bold text-gray-700"
                >{{ data.controls.title.value }}
            </span>

            <span class="flex mt-4 text-base">
                {{ unixTime | date: 'dd MMMM yyyy' }}
            </span>
            <span class="flex mt-2 mb-5 text-base">Time</span>
        </div>
        <div class="border-b border-gray-300">
            <span class="flex mt-5 text-xl font-bold text-gray-700"
                >Attendees
            </span>

            <span class="flex mt-4 text-base">Name</span>
            <span class="flex mt-2 mb-5 text-base">Name</span>
        </div>
        <div class="">
            <span class="flex mt-5 text-xl font-bold text-gray-700">Room </span>

            <span class="flex mt-4 text-base">Room name</span>
            <span class="flex mt-2 mb-5 text-base">Address</span>
        </div>
    </div>
    <div
        class="flex flex-col border-t border-gray-300 top-box-shadow p-3 mt-5 mb-10 -mx-4 items-center"
    >
        <button
            mat-button
            class="bg-secondary border-secondary w-[460px] ml-2 mx-4"
        >
            <span class="">Go to confirm</span>
        </button>
    </div>
</div>
