@import '../../../shared/styles/tailwind.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#placeos .mat-mdc-dialog-surface {
    overflow: visible;
}

#placeos .cdk-overlay-connected-position-bounding-box {
    z-index: 1001;
}
