
@import 'mixins';

.zoom-control {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    @include box-shadow;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
        border: none;
    }
}

app-icon {
    font-size: 1.2em;
}
