@import 'variables';

.desk-confirm {
    padding: 1em;
    background-color: #fff;

}

.title {
    font-weight: 500;
    margin-bottom: 1em;
    width: 22em;
    display: flex;
    justify-content: space-between;
    .text {
        font-size: 1.2em;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    .details {
        width: 22em;
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-grey;

        app-icon {
            width: 40px;
            height: 40px;
            font-size: 1.5em;
            border-radius: 50%;
            background-color: $light-grey;
            color: $grey;
            margin-right: 1em;
        }
    }
}


.desk {
    padding: 1em 0;
    span {
        font-weight: 600;
    }
}

button {
    margin-right: 1em;
}

.result {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
        width: 12em;
        font-size: 1.5em;
        text-align: center;
        margin-top: 1em;
    }
}
