<header>
  <div class="heading" mat-dialog-title>Attendees Availability</div>
  <button icon mat-dialog-close>
    <icon
            [icon]="{
                type: 'icon',
                class: 'material-symbols-rounded',
                content: 'close',
            }"
    ></icon>
  </button>
</header>
<mat-dialog-content>
  <main>
    <div class="date">
      <a-date-field
        name="date"
        [ngModel]="date"
        (ngModelChange)="changeDate($event)"
      ></a-date-field>
    </div>
    @if (!loading) {
      <div class="mobile-only">
        <vertical-timeline
          [(date)]="date"
          [(duration)]="duration"
          [(groups)]="groups"
        ></vertical-timeline>
      </div>
      <div class="not-mobile">
        <event-timeline
          [(date)]="date"
          [(duration)]="duration"
          [(groups)]="groups"
        ></event-timeline>
      </div>
    } @else {
      <div class="spinner">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    }
  </main>
</mat-dialog-content>
<mat-dialog-actions>
  <footer>
    <button btn matRipple mat-dialog-close class="inverse">Cancel</button>
    <button
      mat-flat-button
      [disabled]="is_past"
      color="primary"
      (click)="save()"
      >
      Save
    </button>
  </footer>
</mat-dialog-actions>
