
.map-controls {
    display: flex;
    flex-direction: row;
    padding: 0 0.5em;
}

mat-form-field {
    &:nth-child(2) {
        @media screen and (max-width: 639px) {
            margin-left: 0.5em;
        }
    }
    @media screen and (max-width: 639px) {
        width: calc(50vw - 0.75em);
    }
}
