
@import 'variables';

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.content {
    min-width: 16rem;
    text-align: center;
    font-size: .8em;
}

app-icon {
    font-size: 3em;
    color: $color-primary;
}

mat-dialog-actions {
    justify-content: center;
    button {
        min-width: 8em;
    }
}
