<div class="find-space">
    <ng-container *ngIf="!loading; else load_state">
        <ng-container *ngIf="filtered_spaces?.length; else empty_state">
            <a-booking-space-item
                *ngFor="let space of filtered_spaces; let i = index"
                [space]="space"
                [form]="form"
                [multi]="multiple"
                (select)="selectSpace(space)"
            ></a-booking-space-item>
        </ng-container>
    </ng-container>
</div>

<ng-template #load_state>
    <div class="body">
        <div class="info-block">
            <div class="icon">
                <mat-spinner diameter="48"></mat-spinner>
            </div>
            <div class="text">Check space availability...</div>
        </div>
    </div>
</ng-template>

<ng-template #empty_state>
    <div class="body">
        <div class="info-block">
            <div class="icon">
                <app-icon [icon]="{ class: 'material-icons', content: 'close' }"></app-icon>
            </div>
            <div class="text">No spaces available for the selected time</div>
        </div>
    </div>
</ng-template>
