.field {
    display: flex;

    // @include respond-to(mobile) {
    flex-wrap: wrap;
    // }
}

.notes {
    padding-bottom: 150px;
    width: 100%;
    background-color: lightgrey;
    border: solid 1px rgba(black, 0.5);
    margin-bottom: 50px;
}

mat-form-field {
    width: 100%;
}
