@import 'mixins';
@import 'variables';

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.content {
  width: 60%;
}

.text {
  font-size: 1.2em;
  text-transform: uppercase;
}

.visitors {
  display: flex;
  margin-top: 1em;
  padding: 0.5em 0;
  flex-flow: row wrap;

  .field {
    width: 50%;
    margin-bottom: 1.5em;
  }
}

.details {
  font-size: 0.8em;
  text-align: left;
  padding-left: 2.2em;
}

.email {
  color: $color-primary;
}
