<header>
  <icon>room_service</icon>
  <h1>Catering</h1>
</header>
<div class="body">
  <strong>Item</strong>
  <strong class="qty">Quantity</strong>
  @for (item of catering; track item) {
    <label>
      {{ item.item }}
    </label>
    <label class="qty">
      {{ item.qty }}
    </label>
  }
  <strong class="total">Total Items</strong>
  <strong class="qty">{{ catering_items_total }}</strong>
  <strong class="note-label"> Note: </strong>
  <div class="note-box">
    {{ catering_note }}
  </div>
</div>
<footer>
  <button mat-dialog-close>Close</button>
  <button class="black" (click)="edit()">Edit</button>
</footer>
