
@import 'variables';

@mixin hide-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin box-shadow($color: #000, $depth: 1) {
    box-shadow: 0 1px 3px 1px * ($depth - 1) rgba(#000, .2),
                0 1px 1px 0 rgba(#000, .14),
                0 2px 1px -1px rgba(#000, .12);
}

@mixin fade-in($wait) {
    animation:
        wait #{$wait},
        fade-in 400ms #{$wait};
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*===================*\
||   Media Queries   ||
\*===================*/

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-landscape {
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-portrait {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
    } @else if $media == not-mobile {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) {
            @content;
        }
    } @else if $media == laptop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet + 1) and (max-width: $break-landscape-laptop) {
            @content;
        }
    } @else if $media == laptop-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet + 1) and (max-width: $break-landscape-laptop) {
            @content;
        }
    } @else if $media == laptop-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
            @content;
        }
    }  @else if $media == lat {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
    } @else if ($media == tablet-mobile or $media == not-desktop) {
        @media only screen and (orientation: portrait) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
    } @else if $media == landscape {
        @media only screen and (orientation: landscape) {
            @content;
        }
    } @else if $media == portrait {
        @media only screen and (orientation: portrait) {
            @content;
        }
    }
}
