<button
    mat-ripple
    class="mx-auto my-2 flex w-[375px] max-w-[calc(100%-2rem)] flex-col space-y-4 rounded bg-base-100 p-4 shadow"
    [class.bg-primary]="selected"
    [class.text-white]="selected"
    (click)="toggleSelected()"
>
    <div class="flex w-full flex-row items-center space-x-2">
        <app-icon class="text-lg">meeting_room</app-icon>
        <div>
            {{ space?.level?.display_name || space?.level?.name }},
            {{ space?.display_name || space?.name }}
        </div>
    </div>
    <div class="flex w-full flex-row items-center space-x-2">
        <app-icon class="text-lg">group</app-icon>
        <div>{{ space?.capacity || 0 }} People</div>
    </div>
</button>
