<div class="flex flex-1 flex-col z-0 m-0 min-h-[800px] overflow-y-auto">
    <form *ngIf="form" [formGroup]="form">
        <section
            class="flex flex-col border-b border-base-200 py-5 items-center"
        >
            <div
                class="flex flex-col w-[calc(100%-2rem)] max-w-[22.5rem] self-center"
            >
                <div class="flex flex-row items-center">
                    <button icon matRipple (click)="closeModal()">
                        <app-icon
                            class="flex items-center justify-center text-3xl text-gray-700"
                            >close</app-icon
                        >
                    </button>

                    <span class="flex items-center text-xl font-bold ml-6">
                        Space Filters</span
                    >
                </div>
            </div>
        </section>
        <section class="flex flex-col border-b border-base-200 items-center">
            <div
                class="flex flex-col w-[calc(100%-2rem)] max-w-[22.5rem] self-center"
            >
                <div class="my-2 text-lg">Details</div>

                <div class="flex flex-col">
                    <label
                        class="text-sm font-bold text-gray-700 mb-1"
                        *ngIf="(buildings | async)?.length > 1"
                    >
                        Location
                    </label>

                    <mat-form-field
                        overlay
                        buildings
                        class="w-full"
                        appearance="outline"
                        *ngIf="(buildings | async)?.length > 1"
                    >
                        <mat-select
                            placeholder="Select Building..."
                            [ngModel]="building | async"
                            (ngModelChange)="setBuilding($event)"
                            [ngModelOptions]="{ standalone: true }"
                        >
                            <mat-option
                                *ngFor="let bld of buildings | async"
                                [value]="bld"
                            >
                                {{ bld.display_name || bld.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="flex flex-col">
                        <label class="text-sm font-bold text-gray-700 mb-1">
                            Date
                        </label>
                        <a-date-field
                            [from]="minDate"
                            formControlName="date"
                        ></a-date-field>

                        <div class="flex flex-row space-x-2 w-full">
                            <div class="flex flex-col flex-1 w-1/3">
                                <label
                                    class="text-sm font-bold text-gray-700 mb-1"
                                >
                                    Start Time*
                                </label>

                                <a-time-field
                                    [ngModel]="form?.value.date"
                                    (ngModelChange)="
                                        form.patchValue({ date: $event })
                                    "
                                    [ngModelOptions]="{ standalone: true }"
                                ></a-time-field>
                            </div>
                            <div class="flex flex-col flex-1 w-1/3 ml-auto">
                                <label
                                    class="text-sm font-bold text-gray-700 mb-1"
                                >
                                    End Time*
                                </label>
                                <a-duration-field
                                    [time]="form?.value.date"
                                    [max]="10 * 60"
                                    [min]="60"
                                    [step]="60"
                                    formControlName="duration"
                                ></a-duration-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flex flex-col border-b border-base-200 items-center">
            <div
                class="flex flex-col w-[calc(100%-2rem)] max-w-[22.5rem] self-center"
            >
                <div class="my-2 text-lg">Favourites</div>
                <div class="flex flex-row mb-2">
                    <span>Only show favourite rooms</span>
                    <mat-checkbox class="ml-auto"></mat-checkbox>
                </div>
            </div>
        </section>

        <section class="flex flex-col border-base-200">
            <div class="w-[calc(100%-2rem)] max-w-[22.5rem] mx-auto">
                <div class="my-2 text-lg">Facilities</div>

                <div *ngFor="let feature of features$ | async">
                    <div class="flex flex-row mb-1">
                        <span> {{ feature.name }}</span>
                        <mat-checkbox
                            [(ngModel)]="feature.value"
                            class="ml-auto checkbox"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="getSelectedFeatures()"
                        ></mat-checkbox>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="flex flex-col py-3 mt-5 border-t border-base-200 top-box-shadow items-center justify-center"
        >
            <button
                btn
                matRipple
                type="submit"
                (click)="applyFilters()"
                class="filter-button text-sm bg-secondary border-secondary min-w-[300px] max-w-[calc(100% - 2rem)] mx-auto text-center"
            >
                <span class="">Apply Filters</span>
            </button>
        </section>
    </form>
</div>
