@import 'tailwindcss' source(none);
@source './';
@source '../../../libs';
@source '../../../shared';
@config '../../../tailwind.config.js';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
