<div class="flex flex-1 flex-col z-0 bg-base-200 h-full overflow-y-auto">
    <section
        class="flex border-b border-base-200 py-5 items-center justify-content h-full"
    >
        <div
            class="flex flex-col items-center mx-auto w-[calc(100%-2rem)] max-w-[375px]"
        >
            <div class="mb-3">
                <span class="text-3xl font-bold mr-auto text-gray-700">
                    Booking Confirmed!</span
                >
            </div>
            <div>
                <img src="assets/tick_success.svg" />
            </div>

            <div class="mx-3 flex items-center justify-center">
                <span class="flex text-justify"
                    >Your room booking for
                    {{ location }}
                    has been successfully booked for the
                    {{ date | async | date: 'dd MMMM yyyy' }} at
                    {{ start_time$ | async }} -
                    {{ end_time$ | async }}
                </span>
            </div>
            <div class="flex items-center mt-3">
                <button
                    btn
                    matRipple
                    (click)="newBooking()"
                    class="text-sm bg-base-100 text-secondary border-secondary my-2"
                >
                    <span class="text-sm">New Booking</span>
                </button>
            </div>
        </div>
    </section>
</div>
