<div
    class="w-full min-h-min min-w-[400px] flex flex-1 flex-col z-0 overflow-hidden"
>
    <div
        class="flex w-[calc(100%-2rem)] max-w-[375px] mx-auto items-center justify-content"
        (click)="openRoomDetail()"
    >
        <div
            class="flex flex-col bg-base-100 h-full w-full border rounded-lg mx-4"
        >
            <div
                class="flex items-center justify-center h-44 bg-base-200 rounded-lg m-3 text-gray-500"
            >
                <img
                    auth
                    *ngIf="space?.images?.length > 0"
                    [source]="space.images[0]"
                    alt="image of building "
                    width="100%"
                    height="100%"
                    class="flex z-20 rounded-lg"
                />

                <div *ngIf="space?.images?.length == 0">
                    <mat-icon
                        class="flex items-center justify-center material-icons-outlined text-[8rem]"
                        >image</mat-icon
                    >
                </div>
            </div>
            <div class="mb-4 flex flex-col">
                <span class="text-xl font-bold mt-1 mx-3">
                    {{ space?.name }}</span
                >

                <div class="flex flex-row items-center text-base mt-1 mx-3">
                    <mat-icon
                        class="flex items-center material-icons-outlined blue-icon"
                        >room</mat-icon
                    >
                    <span class="text-gray-500">
                        {{ space?.level?.name }},
                        {{ space?.level?.parent_id }}</span
                    >
                </div>

                <div class="flex flex-row items-center text-base mt-1 mx-3">
                    <mat-icon
                        class="flex items-center material-icons-outlined blue-icon"
                        >people</mat-icon
                    >
                    <span class="text-gray-500"> {{ space?.capacity }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="flex flex-col bg-base-100 h-full border-t border-base-200 top-box-shadow p-3 mt-5 mb-10 -mx-4 items-center"
>
    <button
        btn
        matRipple
        (click)="cancel()"
        class="bg-base-100 border-secondary w-[460px] ml-2 mx-4"
    >
        <span class="text-secondary">Back</span>
    </button>
</div>
