<div class="container" [style.background-image]="'url(' + background + ')'">
    <a-topbar-header></a-topbar-header>
    <div class="flow-step" [ngSwitch]="checkinEvent.stage">
        <checkin-error
            *ngSwitchCase="enumStage.Error"
            [event]="checkinEvent"
        ></checkin-error>

        <checkin-result
            *ngSwitchCase="enumStage.Result"
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-result>

        <checkin-visitor-pass
            *ngSwitchCase="enumStage.VisitorPass"
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-visitor-pass>

        <checkin-visitor-preferences
            *ngSwitchCase="enumStage.Preferences"
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-visitor-preferences>

        <checkin-visitor-photo
            *ngSwitchCase="enumStage.Photo"
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-visitor-photo>

        <checkin-details
            *ngSwitchCase="enumStage.Details"
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-details>

        <checkin-qr-scan
            *ngSwitchDefault
            [event]="checkinEvent"
            (eventChanged)="onEventChanged($event)"
            (loading)="loading = $event"
        ></checkin-qr-scan>
    </div>
    <div class="loader" *ngIf="!!loading">
        <div class="no-item">
            <mat-spinner diameter="32"></mat-spinner>
            <div class="text">{{ loading === true ? 'Waiting...' : loading }}</div>
        </div>
    </div>
</div>
