<div class="booking page">
    <header class="header">
        <a-topbar-header (menuChange)="menu.emit($event)"></a-topbar-header>
    </header>
    <div class="actions" [class.blank]="!flow" [class.has-back]="isBackShown">
        <div class="back">
            <button mat-button class="clear" (click)="back()" *ngIf="isBackShown">
                <div class="row">
                    <app-icon
                        [icon]="{
                            tye: 'icon',
                            class: 'material-icons',
                            content: 'keyboard_backspace'
                        }"
                    ></app-icon>
                    Back
                </div>
            </button>
        </div>
        <div class="search">
            <booking-actions-filter
                [zones]="zoneFilters"
                (levelChange)="level_filter = $event"
                (zonesChanged)="handleZonesChanged($event)"
                *ngIf="flow_step === 'search'"
            ></booking-actions-filter>
        </div>
    </div>
    <main class="body">
        <div class="progress">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>
        <div class="space-flow" *ngIf="form">
            <ng-container [ngSwitch]="flow_step">
                <booking-find-space
                    *ngSwitchCase="'search'"
                    [loading]="loading"
                    [level]="level_filter"
                    [form]="form"
                    [zones]="zoneFilters"
                    (event)="handleFlowEvent($event)"
                ></booking-find-space>
                <booking-space-confirm *ngSwitchCase="'confirm'" [form]="form" [booking]="booking">
                </booking-space-confirm>
                <booking-spaces-form
                    *ngSwitchDefault
                    [form]="form"
                    (event)="handleFlowEvent($event)"
                ></booking-spaces-form>
            </ng-container>
        </div>
    </main>
    <footer class="footer" *ngIf="!!flow">
        <a-footer-menu></a-footer-menu>
    </footer>
</div>
