<div class="container">
  <div class="content">
      <div class="text">
          Welcome {{ visitor?.first_name || 'Candy'}}, I see you are part of a group attending onsite today.<br>
          Please select others you'd like to check in.
        </div>
        <div class="visitors">
          <div class="field">
              <mat-checkbox [checked]="model.checkInAll" label="All Members" (change)="toggleAll()"></mat-checkbox>
          </div>
          <div class="field" *ngFor="let visitor of model.visitors">
              <mat-checkbox [checked]="visitor.checkin">{{visitor.name}}</mat-checkbox>
              <div class="details">
                <div>Please confirm your email</div>
                <div class="email">{{ visitor.email }}</div>
              </div>
            </div>
        </div>
  </div>
  <div class="checkin">
    <button mat-button (click)="checkIn()">CHECK IN</button>
  </div>
</div>
