
@import 'mixins';

:host {
    position: relative;
}

app-icon {
    transition: transform 200ms;
}

button {
    background-color: #fff;
    color: rgba(#000, .85);
    @include box-shadow;
    font-size: 1.25rem;
    height: 2.5em;
    width: 2.5em;

    &.show {
        app-icon {
            transform: rotate(45deg);
        }
    }

    &.small {
        position: absolute;
        font-size: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top 200ms, left 200ms;
    }
}
