
@import 'variables';

label {
    min-width: 100%;
    margin-top: 1.25em;
    margin-right: 1em;
    font-weight: bold;
    font-size: .8em;
    // @include respond-to(mobile) {
        width: 100%;
        margin-top: 0;
        margin-bottom: .5em;
    // }

    span {
        color: $pending;
    }

    &.error {
        color: $error;
    }
}

.field {
    display: flex;

    // @include respond-to(mobile) {
        flex-wrap: wrap;
    // }
}

mat-form-field {
    width: 100%;
}
