<div class="zoom-control">
    <button mat-icon-button name="zoom-in" (click)="zoomIn()">
        <app-icon [icon]="{ type: 'icon', class: 'material-icons', content: 'add' }"></app-icon>
    </button>
    <button mat-icon-button name="zoom-out" (click)="zoomOut()">
        <app-icon [icon]="{ type: 'icon', class: 'material-icons', content: 'remove' }"></app-icon>
    </button>
    <button mat-icon-button name="reset" (click)="reset()">
        <app-icon [icon]="{ type: 'icon', class: 'material-icons', content: 'replay' }"></app-icon>
    </button>
</div>
