<div
    class="map-legend"
    *ngIf="group_names && group_names.length"
    (click)="show_legend = !show_legend"
>
    <h4>
        <div class="title">Legend</div>
        <div class="icon">
            <app-icon
                [icon]="{ class: 'material-icons', content: show_legend ? 'arrow_drop_up' : 'arrow_drop_down' }"
            ></app-icon>
        </div>
    </h4>
    <div class="contents" [@show]="show_legend ? 'show' : 'hide'">
        <ul>
            <ng-container *ngFor="let group of group_names">
                <li class="group" *ngIf="show_group_names">
                    <div class="bar"></div>
                    <div class="name">{{ group }}</div>
                    <div class="bar"></div>
                </li>
                <li class="item" name="item.key" *ngFor="let item of legend_items[group]">
                    <div class="ref">
                        <ng-container *ngIf="item.icon; else colour_display">
                            <app-icon [icon]="item.icon"></app-icon>
                        </ng-container>
                        <ng-template #colour_display>
                            <div
                                class="colour"
                                [style.background-color]="item.color || colours[item.key]"
                            ></div>
                        </ng-template>
                    </div>
                    <div class="name">{{ item.name }}</div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
