<div class="container">
    <div>
        <div class="header">
            <div class="main">
                Take photo to continue
            </div>
            <div class="side">
                <div class="icon close" (click)="home()">
                    <i class="material-icons">close</i>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a-take-photo (photoAccepted)="handlePhoto($event)"></a-take-photo>
            </div>
        </div>
    </div>
</div>
