@import 'variables';
@import 'mixins';

.space-details {
    @include box-shadow;
    background: #fff;

    .details {
        padding: 1em;
        display: flex;

        app-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5em;
            height: 1.5em;
            font-size: 1.5em;
            background-color: $light-grey;
            border-radius: 50%;
            margin-right: 0.5em;
            color: $grey;
        }

        .body {
            flex: 1;
        }

        .location {
            font-size: 1.2em;
        }
        .desc {
            display: flex;
            align-items: center;
            .capacity {
                font-size: 0.8em;
                color: rgba(#000, 0.5);
                margin-right: 0.5em;
            }
            .room-type {
                padding: 0.2em;
                background-color: $color-primary;
                border-radius: 4px;
                color: #fff;
            }
        }
    }
    .actions {
        width: 100%;
        display: flex;
    }
}

button {
    flex: 1;
    font-size: 1rem;
    border-radius: 0;
}
