@import 'variables';
@import 'mixins';

.body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 20em !important;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.35em;
    border-top: 1px solid #ccc;
    margin-top: 1em;

    button {
        min-width: 8em;
    }
}

.icon {
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.content {
    width: 16rem;
    text-align: center;
    font-size: 0.8em;
}
app-icon {
    transition: font-size 200ms;
}

.close {
    font-size: 1em;
    cursor: pointer;

    &:hover {
        app-icon {
            font-size: 0.8em;
        }
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0 0.25em;
}
