@import 'variables';
@import 'mixins';

:host {
    pointer-events: none;
}

.space-info {
    position: absolute;
    min-width: 16em;
    border-radius: 4px;
    background-color: #fff;
    @include box-shadow;

    &.top {
        top: 0;
        &.left {
            left: 0;
            border-top-left-radius: 0;
        }
        &.right {
            right: 0;
            border-top-right-radius: 0;
        }
    }

    &.bottom {
        bottom: 0;
        &.left {
            left: 0;
            border-bottom-left-radius: 0;
        }
        &.right {
            right: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.top {
    .arrow {
        top: 2px;
    }
    &.left {
        .arrow {
            left: 2px;
            border-width: 8px 8px 0 0;
            border-color: $color-primary transparent transparent transparent;
        }
    }
    &.right {
        .arrow {
            right: 2px;
            border-width: 0 8px 8px 0;
            border-color: transparent $color-primary transparent transparent;
        }
    }
}

.bottom {
    .arrow {
        bottom: 2px;
    }
    &.left {
        .arrow {
            left: 2px;
            border-width: 8px 0 0 8px;
            border-color: transparent transparent transparent $color-primary;
        }
    }
    &.right {
        .arrow {
            right: 2px;
            border-width: 0 0 8px 8px;
            border-color: transparent transparent $color-primary transparent;
        }
    }
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.details {
    padding: 1em;
}

.name {
    font-size: 1.25em;
    padding: .2em .4em;
}

.availability {
    > * {
        padding: .25rem .5rem;
        display: inline-block;
    }
}

[name="status"] {
    border-radius: 4px;
    color: #fff;
    font-size: .8em;
    margin-right: auto;

    &.not-bookable {
        background-color: #ccc;
    }

    &.available {
        background-color: $success;
    }

    &.available-by-request {
        background-color: $pending;
    }

    &.meeting-in-progress {
        background-color: $error;
    }
}
