<div
    *ngIf="survey"
    cdkDropListGroup
    class="flex flex-col h-full w-full bg-base-100 overflow-y-auto"
>
    <div class="flex flex-row items-center w-full space-x-4 px-4 pt-4 pb-2">
        <div class="flex flex-col w-1/2">
            <label for="title">Title</label>
            <mat-form-field
                name="title"
                appearance="outline"
                subscriptSizing="dynamic"
            >
                <input
                    class="text-xl"
                    matInput
                    required
                    placeholder="Title..."
                    [(ngModel)]="survey.title"
                />
            </mat-form-field>
        </div>
        <div class="flex flex-col w-1/2">
            <label for="desc">Description</label>
            <mat-form-field
                name="desc"
                appearance="outline"
                subscriptSizing="dynamic"
            >
                <input
                    matInput
                    placeholder="Description..."
                    [(ngModel)]="survey.description"
                />
            </mat-form-field>
        </div>
    </div>

    <nav class="flex bg-base-200" mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
            mat-tab-link
            (click)="switchView('design')"
            [active]="view === 'design'"
        >
            Questions
        </a>

        <a
            mat-tab-link
            (click)="switchView('preview')"
            [active]="view === 'preview'"
        >
            Preview
        </a>
    </nav>
    <div
        mat-tab-nav-panel
        #tabPanel
        class="flex min-h-0 h-full w-full bg-base-200"
    >
        <div *ngIf="view === 'design'" class="mt-0 flex min-h-0 h-full w-full">
            <div
                class="flex flex-col h-full w-4/6 min-w-[43rem] space-y-3 overflow-y-auto"
            >
                <div
                    class="flex flex-row items-center justify-end w-full space-x-2 pr-2"
                >
                    <nav
                        class="max-w-xl"
                        mat-tab-nav-bar
                        [tabPanel]="pagePanel"
                    >
                        <a
                            mat-tab-link
                            class="rounded-b-md border-x"
                            *ngFor="let p of survey.pages; let k = index"
                            (click)="selectedPageIndex = k"
                            [active]="selectedPage === p"
                        >
                            Page {{ k + 1 }}
                        </a>
                    </nav>
                    <button
                        icon
                        matRipple
                        (click)="addSurveyPage()"
                        title="Add new page"
                    >
                        <app-icon>add_circle_outline</app-icon>
                    </button>
                </div>
                <div
                    class="flex flex-col py-2 px-6 pt-0 w-full overflow-x-hidden"
                    #pagePanel
                >
                    <ng-container *ngIf="selectedPage">
                        <div
                            class="flex flex-row items-center justify-end space-x-2 w-full mb-4"
                        >
                            <mat-form-field
                                class="flex-1"
                                [subscriptSizing]="'dynamic'"
                                appearance="fill"
                            >
                                <input
                                    matInput
                                    placeholder="Page title..."
                                    type="text"
                                    [(ngModel)]="selectedPage.title"
                                />
                            </mat-form-field>
                            <button
                                *ngIf="selectedPageIndex > 0"
                                mat-flat-button
                                color="warn"
                                (click)="removeSurveyPage(selectedPageIndex)"
                            >
                                Remove page
                            </button>
                        </div>
                        <div
                            cdkDropList
                            [cdkDropListData]="selectedPage.elements"
                            (cdkDropListDropped)="onDrop($event, selectedPage)"
                            class="flex flex-col w-full space-y-3"
                        >
                            <div
                                cdkDrag
                                *ngFor="
                                    let q of selectedPage.elements;
                                    let i = index
                                "
                                class="flex flex-row rounded-md items-start w-full bg-base-200 py-1"
                            >
                                <div class="flex flex-col px-2 h-full">
                                    <span class="text-lg">{{ i + 1 }}</span>
                                </div>
                                <placeos-question
                                    class="flex-1"
                                    [preview]="true"
                                    [value]="q"
                                >
                                </placeos-question>
                                <div
                                    class="flex flex-col items-center h-full py-2"
                                >
                                    <app-icon
                                        cdkDragHandle
                                        class="hover:cursor-move"
                                        >drag_indicator</app-icon
                                    >
                                    <button
                                        class="mt-auto"
                                        icon
                                        matRipple
                                        (click)="onRemove(i)"
                                    >
                                        <app-icon>{{
                                            q.deleted
                                                ? 'delete_forever'
                                                : 'delete'
                                        }}</app-icon>
                                    </button>
                                </div>
                            </div>

                            <div
                                *ngIf="
                                    selectedPage?.elements?.length > 0;
                                    else noQuestion
                                "
                            ></div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-col w-2/6">
                <question-bank class="w-full"></question-bank>
            </div>
        </div>

        <div
            *ngIf="view === 'preview'"
            class="flex flex-col h-full w-full px-6 overflow-y-auto"
        >
            <survey
                *ngIf="service.surveyModel"
                [model]="service.surveyModel"
            ></survey>
        </div>
    </div>
</div>

<ng-template #noQuestion>
    <div
        class="flex flex-col m-auto h-52 justify-center space-y-2 text-gray-600"
    >
        <img
            src="assets/icons/dragdrop.svg"
            class="h-12"
            alt="Icon of drag and drop"
        />
        <span>Drag and drop questions from the question bank here</span>
    </div>
</ng-template>
