<div class="w-full h-full flex flex-1 flex-col z-0 bg-base-200 overflow-auto">
    <section class="flex flex-col py-5">
        <div class="w-[calc(100%-2rem)] max-w-[375px] mx-auto">
            <div class="flex flex-row items-center">
                <button (click)="closeModal()">
                    <mat-icon
                        class="flex items-center justify-center text-3xl text-gray-700"
                        >close</mat-icon
                    >
                </button>

                <span class="flex items-center text-lg font-bold ml-6">
                    Find Space</span
                >
            </div>

            <div class="flex flex-row justify-between mt-3 align-middle">
                <div class="flex w-7/12 justify-center">
                    <button
                        btn
                        matRipple
                        (click)="openFilter()"
                        class="bg-base-200 w-full h-9 text-sm filter-button"
                    >
                        <span>Filter</span>

                        <span *ngIf="(selected_features$ | async)?.length">
                            ({{ (selected_features$ | async).length }}
                            applied)
                        </span>
                    </button>
                </div>

                <div class="flex w-4/12">
                    <mat-button-toggle-group
                        aria-label="Map or list view"
                        [(ngModel)]="space_view"
                        (change)="resetSpace()"
                        class="flex w-full ml-auto mr-0 border-none"
                    >
                        <mat-button-toggle
                            value="mapView"
                            class="flex bg-base-200 w-1/2 rounded justify-center items-center"
                            ><span class="flex leading-9 text-[0.875rem]"
                                >Map</span
                            ></mat-button-toggle
                        >
                        <mat-button-toggle
                            value="listView"
                            class="flex bg-base-200 w-1/2 rounded text-sm justify-center items-center"
                            ><span class="flex leading-9 text-[0.875rem]"
                                >List</span
                            ></mat-button-toggle
                        >
                    </mat-button-toggle-group>
                </div>
            </div>

            <section class="flex flex-row">
                <!-- <mat-chip-list class="mt-2">
                    <mat-chip class="text-gray-700 text-xs">
                        {{ form?.controls?.date?.value | date: 'dd MMMM yyyy' }}
                    </mat-chip>

                    <div *ngIf="form?.controls.attendees.value.length > 0">
                        <mat-chip class="text-gray-700 text-xs">
                            {{ form?.controls?.attendees?.value.length }}
                            People
                        </mat-chip>
                    </div>

                    <mat-chip class="text-gray-700 text-xs">
                        <span>{{ start_time$ | async }}</span>
                        -
                        <span> {{ end_time$ | async }}</span>
                    </mat-chip>
                </mat-chip-list> -->
            </section>

            <section class="flex flex-row my-2 border-t">
                <div class="flex flex-col">
                    <span class="text-lg font-bold mt-3"> Results</span>
                    <span class="text-xs text-gray-500 mt-1">
                        {{ (spaces$ | async)?.length || 0 }} results found</span
                    >
                </div>
            </section>

            <div class="flex-1 w-full bg-base-200">
                <ng-container *ngIf="!(loading | async); else load_state">
                    <ng-container
                        *ngIf="(spaces$ | async)?.length > 0; else empty_state"
                    >
                        <div *ngIf="space_view == 'listView'">
                            <find-space-item
                                *ngFor="let space of spaces$ | async"
                                [space]="space"
                                [selected]="book_space[space.id]"
                                (selectedChange)="
                                    handleBookEvent(space, $event)
                                "
                                class="text-sm"
                            >
                            </find-space-item>
                        </div>
                        <div
                            *ngIf="
                                space_view == 'mapView' &&
                                (map_features$ | async)?.length > 0
                            "
                            class="text-center h-full"
                        >
                            <div *ngIf="(maps_list$ | async)?.length > 1">
                                <mat-form-field
                                    appearance="outline"
                                    class="flex ml-auto m-3 text-sm"
                                >
                                    <mat-select
                                        [(ngModel)]="selected_level"
                                        (ngModelChange)="
                                            updateSelectedLevel($event)
                                        "
                                    >
                                        <mat-option [value]="maps_list$ | async"
                                            >All Levels</mat-option
                                        >
                                        <mat-option
                                            *ngFor="
                                                let map of maps_list$ | async
                                            "
                                            [value]="map"
                                            >{{ map.level }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div
                                *ngIf="selected_level"
                                class="m-6 max-w-screen relative"
                            >
                                <!-- If 'All Levels' option is selected -->
                                <div *ngIf="selected_level?.length">
                                    <div
                                        *ngFor="let map of selected_level"
                                        class="m-3 h-[12rem] max-w-screen relative"
                                    >
                                        <interactive-map
                                            [src]="map?.map_id"
                                            [styles]="map_styles$ | async"
                                            [features]="map_features$ | async"
                                            [actions]="map_actions$ | async"
                                            class="m-1 p-1 max-w-screen"
                                        >
                                        </interactive-map>
                                    </div>
                                </div>

                                <!-- If an individual level is selected -->
                                <div
                                    *ngIf="!selected_level?.length"
                                    class="m-3 h-[24rem] max-w-screen relative"
                                >
                                    <interactive-map
                                        [src]="selected_level?.map_id"
                                        [styles]="map_styles$ | async"
                                        [features]="map_features$ | async"
                                        [actions]="map_actions$ | async"
                                        class="m-1 p-1 max-w-screen"
                                    >
                                    </interactive-map>
                                </div>
                            </div>
                        </div>

                        <p class="p-2 text-sm text-center opacity-60">
                            End of available spaces list
                        </p>
                    </ng-container>
                </ng-container>

                <ng-template #load_state>
                    <div
                        class="h-full w-full flex flex-col items-center justify-center space-y-4 my-3"
                    >
                        <mat-spinner [diameter]="32"></mat-spinner>
                        <p>Retrieving available spaces...</p>
                    </div>
                </ng-template>
                <ng-template #empty_state>
                    <div
                        class="h-full w-full flex flex-col items-center justify-center space-y-2 p-2 text-center my-6"
                    >
                        <p>
                            No available spaces for selected time, capacity or
                            level(s)
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
        <section
            class="flex flex-col py-1 border-t border-base-200 top-box-shadow items-center justify-center"
        >
            <div *ngIf="show_room_details$ | async">
                <button
                    matRipple
                    type="submit"
                    (click)="openRoomDetails()"
                    class="open-details-button bg-secondary border-secondary w-[300px] my-1"
                >
                    <span class="">View Room</span>
                </button>
            </div>
        </section>
    </section>
</div>
