<div class="z-0 flex h-full w-full flex-1 flex-col overflow-auto bg-base-200">
    <section class="flex flex-col py-5">
        <div class="mx-auto w-[calc(100%-2rem)] max-w-[375px]">
            <div class="flex flex-row items-center">
                <button (click)="closeModal()">
                    <mat-icon
                        class="text-gray-700 flex items-center justify-center text-3xl"
                        >close</mat-icon
                    >
                </button>

                <span class="ml-6 flex items-center text-lg font-bold">
                    Find Space</span
                >
            </div>

            <div class="mt-3 flex flex-row justify-between align-middle">
                <div class="flex w-7/12 justify-center">
                    <button
                        btn
                        matRipple
                        (click)="openFilter()"
                        class="filter-button h-9 w-full bg-base-200 text-sm"
                    >
                        <span>Filter</span>

                        <span *ngIf="(selected_features$ | async)?.length">
                            ({{ (selected_features$ | async).length }}
                            applied)
                        </span>
                    </button>
                </div>

                <div class="flex w-4/12">
                    <mat-button-toggle-group
                        aria-label="Map or list view"
                        [(ngModel)]="space_view"
                        (change)="resetSpace()"
                        class="ml-auto mr-0 flex w-full border-none"
                    >
                        <mat-button-toggle
                            value="mapView"
                            class="flex w-1/2 items-center justify-center rounded bg-base-200"
                            ><span class="flex text-[0.875rem] leading-9"
                                >Map</span
                            ></mat-button-toggle
                        >
                        <mat-button-toggle
                            value="listView"
                            class="flex w-1/2 items-center justify-center rounded bg-base-200 text-sm"
                            ><span class="flex text-[0.875rem] leading-9"
                                >List</span
                            ></mat-button-toggle
                        >
                    </mat-button-toggle-group>
                </div>
            </div>

            <section class="flex flex-row">
                <!-- <mat-chip-list class="mt-2">
                    <mat-chip class="text-gray-700 text-xs">
                        {{ form?.controls?.date?.value | date: 'dd MMMM yyyy' }}
                    </mat-chip>

                    <div *ngIf="form?.controls.attendees.value.length > 0">
                        <mat-chip class="text-gray-700 text-xs">
                            {{ form?.controls?.attendees?.value.length }}
                            People
                        </mat-chip>
                    </div>

                    <mat-chip class="text-gray-700 text-xs">
                        <span>{{ start_time$ | async }}</span>
                        -
                        <span> {{ end_time$ | async }}</span>
                    </mat-chip>
                </mat-chip-list> -->
            </section>

            <section class="my-2 flex flex-row border-t">
                <div class="flex flex-col">
                    <span class="mt-3 text-lg font-bold"> Results</span>
                    <span class="text-gray-500 mt-1 text-xs">
                        {{ (spaces$ | async)?.length || 0 }} results found</span
                    >
                </div>
            </section>

            <div class="w-full flex-1 bg-base-200">
                <ng-container *ngIf="!(loading | async); else load_state">
                    <ng-container
                        *ngIf="(spaces$ | async)?.length > 0; else empty_state"
                    >
                        <div *ngIf="space_view == 'listView'">
                            <find-space-item
                                *ngFor="let space of spaces$ | async"
                                [space]="space"
                                [selected]="book_space[space.id]"
                                (selectedChange)="
                                    handleBookEvent(space, $event)
                                "
                                class="text-sm"
                            >
                            </find-space-item>
                        </div>
                        <div
                            *ngIf="
                                space_view == 'mapView' &&
                                (map_features$ | async)?.length > 0
                            "
                            class="h-full text-center"
                        >
                            <div *ngIf="(maps_list$ | async)?.length > 1">
                                <mat-form-field
                                    appearance="outline"
                                    class="m-3 ml-auto flex text-sm"
                                >
                                    <mat-select
                                        [(ngModel)]="selected_level"
                                        (ngModelChange)="
                                            updateSelectedLevel($event)
                                        "
                                    >
                                        <mat-option
                                            [value]="maps_list$ | async"
                                        >
                                            {{ 'COMMON.LEVEL_ALL' | translate }}
                                        </mat-option>
                                        <mat-option
                                            *ngFor="
                                                let map of maps_list$ | async
                                            "
                                            [value]="map"
                                            >{{ map.level }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div
                                *ngIf="selected_level"
                                class="max-w-screen relative m-6"
                            >
                                <!-- If 'All Levels' option is selected -->
                                <div *ngIf="selected_level?.length">
                                    <div
                                        *ngFor="let map of selected_level"
                                        class="max-w-screen relative m-3 h-[12rem]"
                                    >
                                        <interactive-map
                                            [src]="map?.map_id"
                                            [styles]="map_styles$ | async"
                                            [features]="map_features$ | async"
                                            [actions]="map_actions$ | async"
                                            class="max-w-screen m-1 p-1"
                                        >
                                        </interactive-map>
                                    </div>
                                </div>

                                <!-- If an individual level is selected -->
                                <div
                                    *ngIf="!selected_level?.length"
                                    class="max-w-screen relative m-3 h-[24rem]"
                                >
                                    <interactive-map
                                        [src]="selected_level?.map_id"
                                        [styles]="map_styles$ | async"
                                        [features]="map_features$ | async"
                                        [actions]="map_actions$ | async"
                                        class="max-w-screen m-1 p-1"
                                    >
                                    </interactive-map>
                                </div>
                            </div>
                        </div>

                        <p class="p-2 text-center text-sm opacity-60">
                            End of available spaces list
                        </p>
                    </ng-container>
                </ng-container>

                <ng-template #load_state>
                    <div
                        class="my-3 flex h-full w-full flex-col items-center justify-center space-y-4"
                    >
                        <mat-spinner [diameter]="32"></mat-spinner>
                        <p>Retrieving available spaces...</p>
                    </div>
                </ng-template>
                <ng-template #empty_state>
                    <div
                        class="my-6 flex h-full w-full flex-col items-center justify-center space-y-2 p-2 text-center"
                    >
                        <p>
                            No available spaces for selected time, capacity or
                            level(s)
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
        <section
            class="top-box-shadow flex flex-col items-center justify-center border-t border-base-200 py-1"
        >
            <div *ngIf="show_room_details$ | async">
                <button
                    matRipple
                    type="submit"
                    (click)="openRoomDetails()"
                    class="open-details-button my-1 w-[300px] border-secondary bg-secondary"
                >
                    <span class="">View Room</span>
                </button>
            </div>
        </section>
    </section>
</div>
