<div
    class="counter"
    (window:keydown.shift)="shift_key = true"
    (window:keydown.control)="ctrl_key = true"
    (window:keydown.meta)="ctrl_key = true"
    (window:keyup.shift)="shift_key = false"
    (window:keyup.control)="ctrl_key = false"
    (window:keyup.meta)="ctrl_key = false"
>
    <button mat-icon-button name="remove" [disabled]="!value || value === min" (click)="remove()">
        <app-icon [icon]="{ class: 'material-icons', content: 'remove' }"></app-icon>
    </button>
    <div class="value">
        {{ value || '0' }}
    </div>
    <button mat-icon-button name="add" [disabled]="value === max" (click)="add()">
        <app-icon [icon]="{ class: 'material-icons', content: 'add' }"></app-icon>
    </button>
</div>
