<div class="action-field" role="button" [attr.disabled]="disabled" form-field tabindex="0" (keydown.enter)="performAction()">
    <div class="display" (click)="performAction()" [innerHTML]="placeholder | safe"></div>
    <div class="icon" (click)="performAction()">
        <app-icon
            [icon]="{
                type: 'icon',
                class: 'material-icons',
                content: show_tooltip ? 'arrow_drop_up' : 'arrow_drop_down'
            }"
        ></app-icon>
    </div>
</div>
