@import 'mixins';

:host {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    display: block;
    margin: 0.75em;
    display: flex;
    padding: 0.75em 1.25em 0.75em 0.75em;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    @include box-shadow;

    label {
        margin-right: 1.25em;
        pointer-events: none;
    }

    & > div {
        width: 1em;
        height: 1em;
        background: lightgrey;
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            top: 0;
            left: -0.5em;
            background: inherit;
        }
        &:after {
            content: '';
            position: absolute;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            top: 0;
            right: -0.5em;
            background: inherit;
        }

        & > div {
            width: 0.8em;
            height: 0.8em;
            background: white;
            z-index: 2;
            border-radius: 50%;
            margin-left: -40%;
            transition: all 0.15s ease-in-out;
        }
    }

    &.show {
        & > div {
            background: green;
            justify-content: flex-end;

            & > div {
              margin-right: -40%;
              margin-left:unset;
          }
        }
    }
}
