<div class="searchbar" *ngIf="type" tabindex="0" (focus)="focusField()" (click)="focusField()">
    <div class="prefix">
        <app-icon [icon]="{ type: 'icon', class: 'material-icons', content: 'search' }"></app-icon>
    </div>
    <div class="input">
        <input
            #input
            type="text"
            [(ngModel)]="search_str"
            (focus)="search_str = ''"
            (ngModelChange)="search$.next($event)"
            [matAutocomplete]="auto"
            [placeholder]="placeholder || 'Search...'"
        />
    </div>
    <div class="suffix">
        <mat-spinner *ngIf="loading" diameter="32"></mat-spinner>
    </div>
</div>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event.option.value)">
    <mat-option *ngFor="let option of results" [value]="option">
        <div class="content">
            <div class="details">
                <div class="name">{{ option.name }}</div>
                <div class="email">{{ option_details[option.id] }}</div>
            </div>
            <div class="phone" *ngIf="option.phone">{{ option.phone }}</div>
        </div>
    </mat-option>
</mat-autocomplete>
