<div class="app panel" *ngIf="!(loading | async); else load_state">
    <router-outlet></router-outlet>
    <div class="bindings" *ngIf="system_id">
        <i binding [sys]="system_id" mod="Bookings" bind="room_name" [(model)]="system_name" (modelChange)="checkLoading()"></i>
        <i binding [sys]="system_id" mod="Bookings" bind="reload" (modelChange)="reloadAt($event)"></i>
    </div>
    <div class="loading-block" *ngIf="system_id && !system_name">
        <div class="info-block">
            <div class="title">Connecting to system({{system_id}})...</div>
            <div class="text">Attempting to connect to engine server...</div>
            <div class="text message">{{info_messages[message_index]}}</div>
            <div class="icon">
                <mat-spinner diameter="32"></mat-spinner>
            </div>
        </div>
    </div>
    <div class="version" *ngIf="show_version" [class.loading]="system_id && !system_name">
        Version: {{ version }}<br>
        Built: {{ build | date }}
    </div>
</div>
<ng-template #load_state>
    <mat-spinner [class.center]="true" [style.position]="'absolute'" [diameter]="64"></mat-spinner>
</ng-template>
